


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" class="en-us">
<head xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
<meta http-equiv="imagetoolbar" content="false" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Doraie @ Aerie Peak - Community - World of Warcraft</title>
<link rel="shortcut icon" href="/wow/static/images/meta/favicon.ico?v=58-77" />
<link rel="search" type="application/opensearchdescription+xml" href="http://us.battle.net/en-us/data/opensearch" title="Battle.net Search" />
<link rel="stylesheet" type="text/css" media="all" href="/wow/static/local-common/css/common-game-site.css?v=58-77" />
<link title="World of Warcraft® - News" href="/wow/en/feed/news" type="application/atom+xml" rel="alternate"/>
<link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/wow.css?v=77" />
<link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/lightbox.css?v=77" />
<link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/profile.css?v=77" />
<!--[if IE]> <link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/profile-ie.css?v=77" />
<![endif]-->
<!--[if IE 6]> <link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/profile-ie6.css?v=77" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/wiki/zone.css?v=77" />
<link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/character/summary.css?v=77" />
<!--[if IE]> <link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/character/summary-ie.css?v=77" />
<![endif]-->
<!--[if IE 6]> <link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/character/summary-ie6.css?v=77" />
<![endif]-->
<!--[if IE 8]> <link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/character/summary-ie8.css?v=77" />
<![endif]-->
<link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/character/pet.css?v=77" />
<!--[if IE 6]> <link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/character/pet-ie6.css?v=77" />
<![endif]-->
<!--[if IE]> <link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/wow-ie.css?v=77" />
<![endif]-->
<!--[if IE 6]> <link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/wow-ie6.css?v=77" />
<![endif]-->
<!--[if IE 7]> <link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/wow-ie7.css?v=77" />
<![endif]-->

<meta property="fb:app_id" content="175314325675" />
<meta property="og:site_name" content="World of Warcraft" />
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://us.battle.net/wow/en/character/aerie-peak/Doraie/simple" />
<meta property="og:image" content="http://media.blizzard.com/battle.net/logos/og-wow.png" />
<meta property="og:image" content="http://media.blizzard.com/battle.net/logos/og-blizzard.png" />
<meta property="og:title" content="World of Warcraft" />
<meta property="og:description" content="Doraie @ Aerie Peak - Community - World of Warcraft" />
<link rel="stylesheet" type="text/css" media="all" href="/wow/static/css/legal/ratings.css?v=58-77" />
<style type="text/css">
#content .content-top { background: url("/wow/static/images/character/summary/backgrounds/race/11.jpg") left top no-repeat; }
.profile-wrapper { background-image: url("http://us.battle.net/static-render/us/ulduar/232/122847464-profilemain.jpg?alt=/wow/static/images/2d/profilemain/race/11-1.jpg"); }
</style>
</head>
<body class="en-us ">
<div id="wrapper">
<div id="service">
<ul class="service-bar">
<li class="service-cell service-home">
<a href="http://us.battle.net/" tabindex="50" accessKey="1" title="Battle.net Home" data-action="Battle.net Home"> </a>
<div id="bnet-app-tooltip" style="display: none">
<div class="tooltip-arrow"></div>
<div class="tooltip-wrapper">
<a href="javascript:;" class="close" rel="close" data-label="Close"></a>
<div class="content">
<h3 class="sub-title">Launcher Update</h3>
<h2 class="title">Get the Desktop App for Battle.net Now</h2>
<ul>
<li>All your games in 1 place</li>
<li>Log in once</li>
<li>Automatic game updates</li>
</ul>
</div>
<span class="clear"><!-- --></span>
<a href="http://us.battle.net/app/" class="button">Learn more</a>
<a href="javascript:;" rel="close" data-label="Close">No thanks</a>
</div>
</div>
</li>
<li class="service-cell service-welcome">
<a href="?login">Log in</a> or <a href="https://us.battle.net/account/creation/tos.html">Create an Account</a>
</li>
<li class="service-cell service-shop">
<a href='https://us.battle.net/shop/' class="service-link" data-action="Shop">Shop</a>
</li>
<li class="service-cell service-account">
<a href="https://us.battle.net/account/management/" class="service-link" tabindex="50" accesskey="3" data-action="Account">Account</a>
</li>
<li class="service-cell service-support service-support-enhanced">
<a href="#support" class="service-link service-link-dropdown" tabindex="50" accesskey="4" id="support-link" onclick="return false" style="cursor: progress" rel="javascript" data-action="Support - Support">Support<span class="no-support-tickets" id="support-ticket-count"></span></a>
<div class="support-menu" id="support-menu" style="display:none;">
<div class="support-primary">
<ul class="support-nav">
<li>
<a href="http://us.battle.net/support/" tabindex="55" class="support-category" id="support-nav-kb" data-action="Support - Knowledge Center">
<strong class="support-caption">Knowledge Center</strong>
Browse our support articles
</a>
</li>
<li>
<a href="https://us.battle.net/support/ticket/status" tabindex="55" class="support-category" id="support-nav-tickets" data-action="Support - Your Support Tickets">
<strong class="support-caption">Your Support Tickets</strong>
View your active tickets (login required).
</a>
</li>
</ul>
<span class="clear"><!-- --></span>
</div>
<div class="support-secondary"></div>
</div>
</li>
<li class="service-cell service-explore">
<a href="#explore" tabindex="50" accesskey="5" class="dropdown" id="explore-link" onclick="return false" style="cursor: progress" rel="javascript" data-action="Explore - Explore">Explore</a>
<div class="explore-menu" id="explore-menu" style="display:none;">
<div class="explore-primary">
<ul class="explore-nav">
<li>
<a href="http://us.battle.net/" tabindex="55" data-action="Explore - Battle.net Home">
<strong class="explore-caption">Battle.net Home</strong>
</a>
</li>
<li>
<a href="https://us.battle.net/shop/" tabindex="55" data-action="Explore - Shop">
<strong class="explore-caption">Shop</strong>
</a>
</li>
<li>
<a href="https://us.battle.net/account/management/" tabindex="55" data-action="Explore - Account">
<strong class="explore-caption">Account</strong>
</a>
</li>
<li>
<a href="http://us.battle.net/support/" tabindex="55" data-action="Explore - Support">
<strong class="explore-caption">Support</strong>
</a>
</li>
</ul>
<div class="explore-links">
<h2 class="explore-caption">More</h2>
<ul>
<li><a href="http://us.battle.net/what-is/" tabindex="55" data-action="Explore - What is Battle.net?">What is Battle.net?</a></li>
<li><a href="https://us.battle.net/account/parental-controls/index.html" tabindex="55" data-action="Explore - Parental Controls">Parental Controls</a></li>
<li><a href="http://us.battle.net/security/" tabindex="55" data-action="Explore - Account Security">Account Security</a></li>
<li><a href="http://jobs.blizzard.com/?utm_campaign=Blizzard_Jobs&amp;utm_source=Battle_net&amp;utm_medium=Explore" tabindex="55" data-action="Explore - Work At Blizzard">Work At Blizzard</a></li>
<li><a href="https://us.battle.net/account/support/password-reset.html" tabindex="55" data-action="Explore - Can’t log in?">Can’t log in?</a></li>
<li><a href="https://us.battle.net/account/download/" tabindex="55" data-action="Explore - Game Client Downloads">Game Client Downloads</a></li>
<li><a href="https://us.battle.net/account/management/claim-code.html" tabindex="55" data-action="Explore - Redeem Codes">Redeem Codes</a></li>
<li><a href="http://us.battle.net/games/classic" tabindex="55" data-action="Explore - Classic Games">Classic Games</a></li>
</ul>
</div>
<a class="explore-get-app" href="http://us.battle.net/en/app/">
<div class="app-preview"></div>
<div class="app-tagline">
Get the desktop app for Battle.net
</div>
</a>
<span class="clear"><!-- --></span>
</div>
<ul class="explore-secondary">
<li class="explore-game explore-game-wow">
<a href="http://us.battle.net/wow/" tabindex="55" data-action="Explore - wow">
<span class="explore-game-inner">
<strong class="explore-caption">World of Warcraft®</strong>
</span>
</a>
</li>
<li class="explore-game explore-game-d3">
<a href="http://us.battle.net/d3/" tabindex="55" data-action="Explore - d3">
<span class="explore-game-inner">
<strong class="explore-caption">Diablo® III</strong>
</span>
</a>
</li>
<li class="explore-game explore-game-sc2">
<a href="http://us.battle.net/sc2/" tabindex="55" data-action="Explore - sc2">
<span class="explore-game-inner">
<strong class="explore-caption">StarCraft® II</strong>
</span>
</a>
</li>
<li class="explore-game explore-game-hs">
<a href="http://us.battle.net/hearthstone/" tabindex="55" data-action="Explore - hs">
<span class="explore-game-inner">
<strong class="explore-caption">Hearthstone®</strong>
</span>
</a>
</li>
<li class="explore-game explore-game-heroes">
<a href="http://www.heroesofthestorm.com/en-us" tabindex="55" data-action="Explore - heroes">
<span class="explore-game-inner">
<strong class="explore-caption">Heroes of the Storm™</strong>
</span>
</a>
</li>
<li class="explore-game explore-game-overwatch">
<a href="http://us.battle.net/overwatch/" tabindex="55" data-action="Explore - overwatch">
<span class="explore-game-inner">
<strong class="explore-caption">Overwatch™</strong>
</span>
</a>
</li>
</ul>
</div>
</li>
</ul>
<div id="warnings-wrapper">
<!--[if lt IE 8]> <div id="browser-warning" class="warning warning-red">
<div class="warning-inner2">
You are using an outdated web browser.<br />
<a href="http://us.blizzard.com/support/article/browserupdate">Upgrade</a> or <a href="http://www.google.com/chromeframe/?hl=en-US" id="chrome-frame-link">install Google Chrome Frame</a>.
<a href="#close" class="warning-close" onclick="App.closeWarning('#browser-warning', 'browserWarning'); return false;"></a>
</div>
</div>
<![endif]-->
<noscript>
<div id="javascript-warning" class="warning warning-red">
<div class="warning-inner2">
JavaScript must be enabled to use this site.
</div>
</div>
</noscript>
</div>
</div>
<div id="header">
<div class="search-bar">
<form action="/wow/en/search" method="get" autocomplete="off">
<div>
<input type="search" class="search-field input" name="q" id="search-field" maxlength="200" tabindex="40" alt="Search characters, items, forums and more…" value="Search characters, items, forums and more…" />
<input type="submit" class="search-button" value="" tabindex="41" />
</div>
</form>
</div>
<h1 id="logo"><a href="/wow/en/">World of Warcraft®</a></h1>
<div class="header-plate">
<ul class="menu" id="menu">
<li class="menu-home" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<a itemprop="url" href="/wow/en/">
<span itemprop="name">Home</span>
</a>
</li>
<li class="menu-game" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<a itemprop="url" href="/wow/en/game/">
<span itemprop="name">Game Guide</span>
</a>
</li>
<li class="menu-community" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<a itemprop="url" href="/wow/en/community/" class="menu-active">
<span itemprop="name">Community</span>
</a>
</li>
<li class="menu-media" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<a itemprop="url" href="/wow/en/media/">
<span itemprop="name">Media</span>
</a>
</li>
<li class="menu-forums" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<a itemprop="url" href="/wow/en/forum/">
<span itemprop="name">Forums</span>
</a>
</li>
<li class="menu-services" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<a itemprop="url" href="/wow/en/shop/">
<span itemprop="name">Shop</span>
</a>
</li>
</ul>
<div class="user-plate">
<a href="?login" class="card-character plate-logged-out" onclick="return Login.open('https://us.battle.net/login/login.frag');">
<span class="card-portrait"></span>
<span class="wow-login-key"></span>
<span class="login-msg"><strong>Log in now</strong> to enhance and personalize your experience!</span>
</a>
</div>
</div>
<div class="new-feature-tip" id="feature-tip" style="display: none">
<a href="/wow/en/zone/" data-label="World of Warcraft Game Guide" class="clickable">
<span class="title">FEATURE UPDATED!</span>
<strong>Scenarios </strong>
<span class="desc">Check out our new guide pages with detailed information about the new Mists of Pandaria scenarios!</span>
</a>
<a href="javascript:;" class="close" rel="close" data-label="Close"></a>
</div>
</div>
<div id="content">
<div class="content-top body-top">
<div class="content-trail">
<ol class="ui-breadcrumb">
<li itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<a href="/wow/en/" rel="np" class="breadcrumb-arrow" itemprop="url">
<span class="breadcrumb-text" itemprop="name">World of Warcraft</span>
</a>
</li>
<li itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<a href="/wow/en/community/" rel="np" class="breadcrumb-arrow" itemprop="url">
<span class="breadcrumb-text" itemprop="name">Community</span>
</a>
</li>
<li class="last" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
<a href="/wow/en/character/aerie-peak/Doraie/simple" rel="np" itemprop="url">
<span class="breadcrumb-text" itemprop="name">Doraie @ Aerie Peak</span>
</a>
</li>
</ol>
</div>
<div class="content-bot clear">




	



	<div id="profile-wrapper" class="profile-wrapper profile-wrapper-alliance">

		<div class="profile-sidebar-anchor">
			<div class="profile-sidebar-outer">
				<div class="profile-sidebar-inner">
					<div class="profile-sidebar-contents">





		<div class="profile-info-anchor">
			<div class="profile-info">
				<div class="name"><a href="/wow/en/character/aerie-peak/Doraie/" rel="np">Doraie</a></div>
				<div class="title-guild">
					<div class="title">Elder </div>
						<div class="guild">
							<a href="/wow/en/guild/aerie-peak/Sabi/?character=doraie">Sabi</a>
						</div>
				</div>
	<span class="clear"><!-- --></span>
				<div class="under-name color-c7">
						<span class="level"><strong>93</strong></span> <a href="/wow/en/game/race/draenei" class="race">Draenei</a> <a id="profile-info-spec" href="#talents" class="spec tip">Elemental</a> <a href="/wow/en/game/class/shaman" class="class">Shaman</a><span class="comma">,</span>
					<span class="realm tip" id="profile-info-realm" data-battlegroup="Vindication">
						Aerie Peak
					</span>
				</div>
				<div class="achievements"><a href="/wow/en/character/aerie-peak/Doraie/achievement">6310</a></div>
			</div>
		</div>


		

	<ul class="profile-sidebar-menu" id="profile-sidebar-menu">





			<li class=" active">

		<a href="/wow/en/character/aerie-peak/Doraie/" class="" rel="np">
			<span class="arrow"><span class="icon">
				Summary
			</span></span>
		</a>

			</li>










			<li class=" disabled">

		<a href="javascript:;" class=" has-submenu vault" rel="np">
			<span class="arrow"><span class="icon">
				Auctions
			</span></span>
		</a>

			</li>





			<li class=" disabled">

		<a href="javascript:;" class=" vault" rel="np">
			<span class="arrow"><span class="icon">
				Events
			</span></span>
		</a>

			</li>





			<li class="">

		<a href="/wow/en/character/aerie-peak/Doraie/achievement" class=" has-submenu" rel="np">
			<span class="arrow"><span class="icon">
				Achievements
			</span></span>
		</a>

			</li>





			<li class="">

		<a href="/wow/en/character/aerie-peak/Doraie/challenge" class="" rel="np">
			<span class="arrow"><span class="icon">
				Challenge Mode
			</span></span>
		</a>

			</li>





			<li class="">

		<a href="/wow/en/character/aerie-peak/Doraie/pet" class="" rel="np">
			<span class="arrow"><span class="icon">
				Pets &amp; Mounts
			</span></span>
		</a>

			</li>





			<li class="">

		<a href="/wow/en/character/aerie-peak/Doraie/profession/" class=" has-submenu" rel="np">
			<span class="arrow"><span class="icon">
				Professions
			</span></span>
		</a>

			</li>





			<li class="">

		<a href="/wow/en/character/aerie-peak/Doraie/reputation/" class="" rel="np">
			<span class="arrow"><span class="icon">
				Reputation
			</span></span>
		</a>

			</li>





			<li class="">

		<a href="/wow/en/character/aerie-peak/Doraie/pvp" class="" rel="np">
			<span class="arrow"><span class="icon">
				PvP
			</span></span>
		</a>

			</li>





			<li class="">

		<a href="/wow/en/character/aerie-peak/Doraie/feed" class="" rel="np">
			<span class="arrow"><span class="icon">
				Activity Feed
			</span></span>
		</a>

			</li>










			<li class="">

		<a href="/wow/en/guild/aerie-peak/Sabi/?character=doraie" class=" has-submenu" rel="np">
			<span class="arrow"><span class="icon">
				Guild
			</span></span>
		</a>

			</li>

		
	</ul>






							<div class="summary-sidebar-links">
								<span class="summary-sidebar-button">
									<a href="javascript:;" id="summary-link-tools" class="summary-link-tools"></a>
								</span>

									<span class="summary-sidebar-button">
	<a href="javascript:;" data-fansite="character|US|Doraie|aerie-peak" class="fansite-link "> </a>
									</span>
							</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="profile-contents">

		<div class="summary-top">
		
			<div class="summary-top-right">


	<ul class="profile-view-options" id="profile-view-options-summary">
			<li>
				<a href="/wow/en/character/aerie-peak/Doraie/advanced" rel="np" class="advanced">
					Advanced
				</a>
			</li>
			<li class="current">
				<a href="/wow/en/character/aerie-peak/Doraie/simple" rel="np" class="simple">
					Simple
				</a>
			</li>
	</ul>


					<div class="summary-averageilvl">
	<div class="rest">
		Average item level<br />
		(<span class="equipped">532</span> Equipped)
	</div>
	<div id="summary-averageilvl-best" class="best tip" data-id="averageilvl">
		532
	</div>
					</div>

			</div>
		
				<div class="summary-top-inventory">


	<div id="summary-inventory" class="summary-inventory summary-inventory-simple">


	 	




	<div data-id="0" data-type="1" class="slot slot-1 item-quality-3" style=" left: 0px; top: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/106139/quest-reward" class="item" data-item="pl=93&amp;cc=11&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_mail_draenorquest90_b_01helm.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 	




	<div data-id="1" data-type="2" class="slot slot-2 item-quality-4" style=" left: 0px; top: 58px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/102773" class="item" data-item="s=1258406784&amp;pl=93&amp;cc=0&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_misc_pvp_neck_a3.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 	




	<div data-id="2" data-type="3" class="slot slot-3 item-quality-3" style=" left: 0px; top: 116px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/114336/dungeon-normal" class="item" data-item="pl=93&amp;cc=1&amp;bl=136"><img src="http://media.blizzard.com/wow/icons/56/inv_shoulder_mail_draenorquest95_b_01.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 	




	<div data-id="14" data-type="16" class="slot slot-16 item-quality-4" style=" left: 0px; top: 174px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/101800" class="item" data-item="e=4423&amp;r=-360&amp;s=874774579&amp;u=491&amp;pl=93&amp;cc=0&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_cape_pandaria_c_03.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 	




	<div data-id="4" data-type="5" class="slot slot-5 item-quality-2" style=" left: 0px; top: 232px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/106176/quest-reward" class="item" data-item="d=65&amp;pl=93&amp;cc=11&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_mail_draenorquest90_b_01chest.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 	




	<div data-id="3" data-type="4" class="slot slot-4" style=" left: 0px; top: 290px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="javascript:;" class="empty"><span class="frame"></span></a>
			</div>
		</div>
	</div>


	 	




	<div data-id="18" data-type="19" class="slot slot-19" style=" left: 0px; top: 348px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="javascript:;" class="empty"><span class="frame"></span></a>
			</div>
		</div>
	</div>


	 	




	<div data-id="8" data-type="9" class="slot slot-9 item-quality-3" style=" left: 0px; top: 406px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/113232/quest-reward" class="item" data-item="d=27&amp;pl=93&amp;cc=11&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_mail_draenorquest90_b_01bracer.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 
	




	<div data-id="9" data-type="10" class="slot slot-10 slot-align-right item-quality-3" style=" top: 0px; right: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/107303/quest-reward" class="item" data-item="d=27&amp;pl=93&amp;cc=11&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_mail_draenorquest90_b_01glove.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 
	




	<div data-id="5" data-type="6" class="slot slot-6 slot-align-right item-quality-2" style=" top: 58px; right: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/106167/quest-reward" class="item" data-item="d=22&amp;pl=93&amp;cc=11&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_mail_draenorquest90_b_01belt.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 
	




	<div data-id="6" data-type="7" class="slot slot-7 slot-align-right item-quality-3" style=" top: 116px; right: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/114332/dungeon-normal" class="item" data-item="pl=93&amp;cc=1&amp;bl=55"><img src="http://media.blizzard.com/wow/icons/56/inv_pant_mail_draenorquest95_b_01.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 
	




	<div data-id="7" data-type="8" class="slot slot-8 slot-align-right item-quality-3" style=" top: 174px; right: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/113571" class="item" data-item="d=38&amp;pl=93&amp;cc=0&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_mail_draenorquest90_b_01boot.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 
	




	<div data-id="10" data-type="11" class="slot slot-11 slot-align-right item-quality-3" style=" top: 232px; right: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/112798/dungeon-normal" class="item" data-item="pl=93&amp;cc=1&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_jewelry_ring_01.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 
	




	<div data-id="11" data-type="11" class="slot slot-11 slot-align-right item-quality-2" style=" top: 290px; right: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/113156/quest-reward" class="item" data-item="pl=93&amp;cc=11&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_ringwod_6.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 
	




	<div data-id="12" data-type="12" class="slot slot-12 slot-align-right item-quality-3" style=" top: 348px; right: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/113160/quest-reward" class="item" data-item="pl=93&amp;cc=11&amp;bl=171"><img src="http://media.blizzard.com/wow/icons/56/inv_misc_reforgedarchstone_01.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 
	




	<div data-id="13" data-type="12" class="slot slot-12 slot-align-right item-quality-3" style=" top: 406px; right: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/113527" class="item" data-item="pl=93&amp;cc=0&amp;bl"><img src="http://media.blizzard.com/wow/icons/56/inv_misc_bone_orcskull_01.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 




	<div data-id="15" data-type="21" class="slot slot-21 slot-align-right item-quality-3" style=" left: 273.5px; bottom: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/115310/dungeon-normal" class="item" data-item="pl=93&amp;cc=1&amp;bl=489"><img src="http://media.blizzard.com/wow/icons/56/inv_mace_1h_draenorquest_b_02.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>


	 




	<div data-id="16" data-type="22" class="slot slot-22 item-quality-4" style=" left: 338.5px; bottom: 0px;">
		<div class="slot-inner">
			<div class="slot-contents">
					<a href="/wow/en/item/108945" class="item" data-item="pl=93&amp;cc=0&amp;bl=545"><img src="http://media.blizzard.com/wow/icons/56/inv_pet_diseasedsquirrel.jpg" alt="" /><span class="frame"></span></a>

			</div>
		</div>
	</div>
	</div>
				</div>

		</div>


			<div class="summary-bottom">

				<div class="summary-bottom-right">
					<div class="summary-talents" id="summary-talents">
	<h3 class="category ">							<span class="title">Talents</span>
							<a name="talents" href="/wow/en/tool/talent-calculator#Wa!210110.!Jiek" target="_blank" id="export-build" class="talent-export">View in Talent Calculator<span class="arrow"></span></a>
</h3>
	

	<div class="profile-box-simple">
		<div class="talent-specs" data-class-name="shaman">
	<a data-spec-id="0" class="spec-button spec-0" href="javascript:;" data-spec-name="restoration" data-tooltip="A healer who calls upon ancestral spirits and the cleansing power of water to mend allies' wounds."><span class="inner">
		
		<span class="frame">
			<span class="icon"><img src="http://media.blizzard.com/wow/icons/36/spell_nature_magicimmunity.jpg" alt="" /></span>
		</span>
		<span class="roles">
				<span class="icon-healing"></span>
		</span>
		<span class="name-build">
			<span class="name ">Restoration</span>
		</span>
	</span></a>
	<a data-spec-id="1" class="spec-button spec-1 selected active" href="javascript:;" data-spec-name="elemental" data-tooltip="A spellcaster who harnesses the destructive forces of nature and the elements."><span class="inner">
		<span class="checkmark"></span>
		<span class="frame">
			<span class="icon"><img src="http://media.blizzard.com/wow/icons/36/spell_nature_lightning.jpg" alt="" /></span>
		</span>
		<span class="roles">
				<span class="icon-dps"></span>
		</span>
		<span class="name-build">
			<span class="name ">Elemental</span>
		</span>
	</span></a>
	<span class="clear"><!-- --></span>
		</div>

	

	<div class="talent-build " id="talent-build-0">
			<div class="talents">				
				<ul>

							<li class="talent empty"><span class="icon-frame frame-18"></span><span class="spell-name">Empty</span></li>



							<li class="talent empty"><span class="icon-frame frame-18"></span><span class="spell-name">Empty</span></li>



							<li class="talent empty"><span class="icon-frame frame-18"></span><span class="spell-name">Empty</span></li>



							<li class="talent empty"><span class="icon-frame frame-18"></span><span class="spell-name">Empty</span></li>



							<li class="talent empty"><span class="icon-frame frame-18"></span><span class="spell-name">Empty</span></li>



							<li class="talent empty"><span class="icon-frame frame-18"></span><span class="spell-name">Empty</span></li>



							<li class="talent empty"><span class="icon-frame frame-18">100</span><span class="spell-name"></span></li>


				</ul>
			</div>
			<div class="glyphs">
				<ul>
					<li><h3>Major Glyphs</h3></li>
					<li>
								<span class="icon-frame frame-18 empty"></span>
							
								<span class="icon-frame frame-18 empty"></span>
							
								<span class="icon-frame frame-18 empty"></span>
							
					</li>
				</ul>
				<ul>
					<li><h3>Minor Glyphs</h3></li>
					<li>
								<span class="icon-frame frame-18 empty"></span>
								<span class="icon-frame frame-18 empty"></span>
								<span class="icon-frame frame-18 empty"></span>
					</li>
				</ul>
			</div>
		</div>
	

	<div class="talent-build selected" id="talent-build-1">
			<div class="talents">				
				<ul>
									<li class="talent" data-tooltip="#tooltip-108271" data-tier="0" data-column="2">




		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/ability_shaman_astralshift.jpg");'>
		</span>
<span class="spell-name">Astral Shift</span></li>


	
    <div id="tooltip-108271" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/ability_shaman_astralshift.jpg");'>
		</span>

			<h3>Astral Shift</h3>
				<h4></h4>



				<div>
						<span class="float-right">1.5 min cooldown</span>
						Instant
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
Shift partially into the elemental planes, taking 40% less damage for 6 sec.				</div>
		</div>
	</div>



									<li class="talent" data-tooltip="#tooltip-51485" data-tier="1" data-column="1">




		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/spell_nature_stranglevines.jpg");'>
		</span>
<span class="spell-name">Earthgrab Totem</span></li>


	
    <div id="tooltip-51485" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/spell_nature_stranglevines.jpg");'>
		</span>

			<h3>Earthgrab Totem</h3>
				<h4>Earth Totem</h4>


				<div>
						5% of base mana
	<span class="clear"><!-- --></span>
				</div>

				<div>
						<span class="float-right">30 sec cooldown</span>
						Instant
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
Summons an Earth Totem with 5 health at the feet of the caster for 20 sec. The totem pulses every 5.20 sec, rooting all enemies within 10 yards for 5 sec.  Enemies previously rooted by the totem will instead suffer 50% movement speed reduction.<br/><br/>Replaces Earthbind Totem.				</div>
		</div>
	</div>



									<li class="talent" data-tooltip="#tooltip-108285" data-tier="2" data-column="0">




		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/ability_shaman_multitotemactivation.jpg");'>
		</span>
<span class="spell-name">Call of the Elements</span></li>


	
    <div id="tooltip-108285" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/ability_shaman_multitotemactivation.jpg");'>
		</span>

			<h3>Call of the Elements</h3>
				<h4></h4>



				<div>
						<span class="float-right">3 min cooldown</span>
						Instant
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
Resets the cooldown on all totems with a base cooldown shorter than 3 minutes.				</div>
		</div>
	</div>



									<li class="talent" data-tooltip="#tooltip-16188" data-tier="3" data-column="1">




		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/spell_shaman_elementaloath.jpg");'>
		</span>
<span class="spell-name">Ancestral Swiftness</span></li>


	
    <div id="tooltip-16188" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/spell_shaman_elementaloath.jpg");'>
		</span>

			<h3>Ancestral Swiftness</h3>
				<h4></h4>



				<div>
						<span class="float-right">1.5 min cooldown</span>
						Instant
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
Increases haste by 5% and attack speed by 5% at all times.  When activated, your next Nature spell with a base casting time less than 10 sec. becomes instant.				</div>
		</div>
	</div>



									<li class="talent" data-tooltip="#tooltip-108281" data-tier="4" data-column="1">




		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/ability_shaman_ancestralguidance.jpg");'>
		</span>
<span class="spell-name">Ancestral Guidance</span></li>


	
    <div id="tooltip-108281" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/ability_shaman_ancestralguidance.jpg");'>
		</span>

			<h3>Ancestral Guidance</h3>
				<h4></h4>



				<div>
						<span class="float-right">2 min cooldown</span>
						Instant
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
For the next 10 sec, 20% of your damage and healing, including multistrikes, is converted to healing on up to 3 nearby injured party or raid members.				</div>
		</div>
	</div>



									<li class="talent" data-tooltip="#tooltip-165477" data-tier="5" data-column="0">




		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/shaman_talent_unleashedfury.jpg");'>
		</span>
<span class="spell-name">Unleashed Fury</span></li>


	
    <div id="tooltip-165477" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/shaman_talent_unleashedfury.jpg");'>
		</span>

			<h3>Unleashed Fury</h3>
				<h4></h4>



				<div>
						Passive
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
Empowers your Unleash Flame,<br/>causing it to also increase damage done with Lightning Bolt by 30% and with Lava Burst by 10% for 10 sec.				</div>
		</div>
	</div>




							<li class="talent empty"><span class="icon-frame frame-18">100</span><span class="spell-name"></span></li>


				</ul>
			</div>
			<div class="glyphs">
				<ul>
					<li><h3>Major Glyphs</h3></li>
					<li>





		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/spell_nature_lightningshield.jpg");' data-tooltip="#tooltip-101052">
		</span>

	
    <div id="tooltip-101052" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/spell_nature_lightningshield.jpg");'>
		</span>

			<h3>Glyph of Lightning Shield</h3>
				<h4>Elemental, Enhancement</h4>



				<div>
						Passive
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
When your Lightning Shield is triggered, you take 10% less damage for 6 sec.				</div>
		</div>
	</div>
							





		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/spell_shaman_spiritwalkersgrace.jpg");' data-tooltip="#tooltip-55446">
		</span>

	
    <div id="tooltip-55446" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/spell_shaman_spiritwalkersgrace.jpg");'>
		</span>

			<h3>Glyph of Spiritwalker&#39;s Grace</h3>
				<h4>Elemental, Restoration</h4>



				<div>
						Passive
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
Increases the duration of your Spiritwalker's Grace by 5 sec.				</div>
		</div>
	</div>
							





		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/spell_fire_flameshock.jpg");' data-tooltip="#tooltip-55447">
		</span>

	
    <div id="tooltip-55447" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/spell_fire_flameshock.jpg");'>
		</span>

			<h3>Glyph of Flame Shock</h3>
				<h4></h4>



				<div>
						Passive
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
When your Flame Shock deals damage, it heals you for 45% of the damage dealt.				</div>
		</div>
	</div>
							
					</li>
				</ul>
				<ul>
					<li><h3>Minor Glyphs</h3></li>
					<li>





		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/spell_nature_astralrecal.jpg");' data-tooltip="#tooltip-58058">
		</span>

	
    <div id="tooltip-58058" style="display: none">
		<div class="tc-tooltip">





		<span  class="icon-frame frame-56 " style='background-image: url("http://media.blizzard.com/wow/icons/56/spell_nature_astralrecal.jpg");'>
		</span>

			<h3>Glyph of Astral Recall</h3>
				<h4></h4>



				<div>
						Passive
	<span class="clear"><!-- --></span>
				</div>


				<div class="color-tooltip-yellow">
Reduces the cooldown of your Astral Recall spell by 5 minutes.				</div>
		</div>
	</div>
								<span class="icon-frame frame-18 empty"></span>
								<span class="icon-frame frame-18 empty"></span>
					</li>
				</ul>
			</div>
		</div>

	</div>
	
					</div>
				</div>

				<div class="summary-bottom-left">
					<div class="summary-health-resource">
	<ul>
		<li class="health" id="summary-health" data-id="health"><span class="name">Health</span><span class="value">84040</span></li>
		<li class="resource-0" id="summary-power" data-id="power-0"><span class="name">Mana</span><span class="value">78000</span></li>
	</ul>
					</div>
					<div class="summary-stats-profs-bgs">

	<div class="summary-stats" id="summary-stats">
			<div id="summary-stats-advanced" class="summary-stats-advanced">
						<div id="summary-stats-spec0" class="summary-stats-specs" style=" display: none">
							<div class="summary-stats-advanced-base">
	<div class="summary-stats-column">
		<h4>General</h4>
		<ul>

	 





	<li data-id="intellect" class="">
		<span class="name">Intellect</span>
		<span class="value color-q2">1499</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="spellpower" class="">
		<span class="name">Spell Power</span>
		<span class="value">1998</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="mastery" class="">
		<span class="name">Mastery</span>
		<span class="value color-q2">102.08%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="spirit" class="">
		<span class="name">Spirit</span>
		<span class="value">418</span>
	<span class="clear"><!-- --></span>
	</li>
		</ul>
	</div>
							</div>
							<div class="summary-stats-advanced-role">
	<div class="summary-stats-column">
		<h4>Other</h4>
		<ul>

	 





	<li data-id="crit" class="">
		<span class="name">Crit</span>
		<span class="value">9.53%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="haste" class="">
		<span class="name">Haste</span>
		<span class="value">25.28%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="multistrike" class="">
		<span class="name">Multistrike</span>
		<span class="value">30.09%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="versatility" class="">
		<span class="name">Versatility</span>
		<span class="value">0.44%</span>
	<span class="clear"><!-- --></span>
	</li>
		</ul>
	</div>
							</div>
							<div class="summary-stats-end"></div>
						</div>
						<div id="summary-stats-spec1" class="summary-stats-specs">
							<div class="summary-stats-advanced-base">
	<div class="summary-stats-column">
		<h4>General</h4>
		<ul>

	 





	<li data-id="intellect" class="">
		<span class="name">Intellect</span>
		<span class="value color-q2">1499</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="spellpower" class="">
		<span class="name">Spell Power</span>
		<span class="value">1998</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="multistrike" class="">
		<span class="name">Multistrike</span>
		<span class="value">30.09%</span>
	<span class="clear"><!-- --></span>
	</li>
		</ul>
	</div>
							</div>
							<div class="summary-stats-advanced-role">
	<div class="summary-stats-column">
		<h4>Other</h4>
		<ul>

	 





	<li data-id="crit" class="">
		<span class="name">Crit</span>
		<span class="value">9.53%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="haste" class="">
		<span class="name">Haste</span>
		<span class="value">25.28%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="mastery" class="">
		<span class="name">Mastery</span>
		<span class="value color-q2">102.08%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="versatility" class="">
		<span class="name">Versatility</span>
		<span class="value">0.44%</span>
	<span class="clear"><!-- --></span>
	</li>
		</ul>
	</div>
							</div>
							<div class="summary-stats-end"></div>
						</div>
			</div>

		<div id="summary-stats-simple" class="summary-stats-simple" style=" display: none">
			<div class="summary-stats-simple-base">


	<div class="summary-stats-column">
		<h4>Attributes</h4>
		<ul>

	 





	<li data-id="strength" class="">
		<span class="name">Strength</span>
		<span class="value">369</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="agility" class="">
		<span class="name">Agility</span>
		<span class="value">716</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="intellect" class="">
		<span class="name">Intellect</span>
		<span class="value color-q2">1499</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="stamina" class="">
		<span class="name">Stamina</span>
		<span class="value color-q2">1528</span>
	<span class="clear"><!-- --></span>
	</li>
		</ul>
	</div>


	<div class="summary-stats-column">
		<h4>Attack</h4>
		<ul>

	 

	

	<li data-id="attackdamage" class="">
		<span class="name">Damage</span>
		<span class="value">396–456</span>
	<span class="clear"><!-- --></span>
	</li>

	 




	<li data-id="attackpower" class="">
		<span class="name">Attack Power</span>
		<span class="value">716</span>
	<span class="clear"><!-- --></span>
	</li>

	 

	

	<li data-id="attackspeed" class="">
		<span class="name">Speed</span>
		<span class="value">1.28</span>
	<span class="clear"><!-- --></span>
	</li>
		</ul>
	</div>


	<div class="summary-stats-column">
		<h4>Spell</h4>
		<ul>

	 





	<li data-id="spellpower" class="">
		<span class="name">Spell Power</span>
		<span class="value">1998</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="manaregen" class="">
		<span class="name">Mana Regen</span>
		<span class="value">3283</span>
	<span class="clear"><!-- --></span>
	</li>
		</ul>
	</div>
			</div>
			<div class="summary-stats-simple-other">


	<div class="summary-stats-column">
		<h4>Defense</h4>
		<ul>

	 





	<li data-id="armor" class="">
		<span class="name">Armor</span>
		<span class="value">498</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="dodge" class="">
		<span class="name">Dodge</span>
		<span class="value">3.34%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="parry" class="">
		<span class="name">Parry</span>
		<span class="value">0.00%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="block" class="">
		<span class="name">Block</span>
		<span class="value">3.00%</span>
	<span class="clear"><!-- --></span>
	</li>
		</ul>
	</div>


	<div class="summary-stats-column">
		<h4>Enhancements</h4>
		<ul>

	 





	<li data-id="crit" class="">
		<span class="name">Crit</span>
		<span class="value">9.53%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="haste" class="">
		<span class="name">Haste</span>
		<span class="value">25.28%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="mastery" class="">
		<span class="name">Mastery</span>
		<span class="value color-q2">102.08%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="spirit" class="">
		<span class="name">Spirit</span>
		<span class="value">418</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="bonusarmor" class="">
		<span class="name">Bonus Armor</span>
		<span class="value">0</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="multistrike" class="">
		<span class="name">Multistrike</span>
		<span class="value">30.09%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="leech" class="">
		<span class="name">Leech</span>
		<span class="value">0.00%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="versatility" class="">
		<span class="name">Versatility</span>
		<span class="value">0.44%</span>
	<span class="clear"><!-- --></span>
	</li>

	 





	<li data-id="avoidance" class="">
		<span class="name">Avoidance</span>
		<span class="value">0.00%</span>
	<span class="clear"><!-- --></span>
	</li>
		</ul>
	</div>
			</div>
			<div class="summary-stats-end"></div>
		</div>

			<a href="javascript:;" id="summary-stats-toggler" class="summary-stats-toggler"><span class="inner"><span class="arrow">Show all stats</span></span></a>
	</div>

					</div>
				</div>

	<span class="clear"><!-- --></span>
				<div class="summary-bottom-sub-content">
					
					<div class="summary-bottom-right">
						<div class="profile-recentactivity">
	<h3 class="category ">								<a href="feed" class="view-more">Recent Activity</a>							
</h3>
							<div class="profile-box-simple">
	<ul class="activity-feed">



	<li>
	<dl>
		<dd>

		<a href="/wow/en/item/114336" class="color-q3" data-item="pl=93&amp;cc=1&amp;bl=136">




		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/inv_shoulder_mail_draenorquest95_b_01.jpg");'>
		</span>
</a>

	Obtained <a href="/wow/en/item/114336" class="color-q3" data-item="pl=93&amp;cc=1&amp;bl=136">Spaulders of Meditative Focus of the Deft</a>.
</dd>
		<dt>4/30/2015</dt>
	</dl>
	</li>



	<li class="ach ">
	<dl>
		<dd>

		<a href="achievement#15246:a9911" data-achievement="9911">





		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/inv_weapon_shortblade_05.jpg");'>
		</span>
		</a>

	Earned the achievement <a href="achievement#15246:a9911" class="account" data-achievement="9911">Where&#39;s the Mailbox?</a> for 5 points.
</dd>
		<dt>4/21/2015</dt>
	</dl>
	</li>



	<li class="ach ">
	<dl>
		<dd>

		<a href="achievement#169:170:a5471" data-achievement="5471">





		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/inv_misc_food_161_fish_89.jpg");'>
		</span>
		</a>

	Earned the achievement <a href="achievement#169:170:a5471"  data-achievement="5471">Iron Chef</a> for 10 points.
</dd>
		<dt>4/21/2015</dt>
	</dl>
	</li>



	<li class="ach ">
	<dl>
		<dd>

		<a href="achievement#81:a9915" data-achievement="9915">





		<span  class="icon-frame frame-18 " style='background-image: url("http://media.blizzard.com/wow/icons/18/inv_holiday_christmas_present_01.jpg");'>
		</span>
		</a>

	Earned the feat of strength <a href="achievement#81:a9915"  data-achievement="9915">Crashin&#39; Thrashin&#39; Shredder</a>.
</dd>
		<dt>3/8/2015</dt>
	</dl>
	</li>
	</ul>
	<div class="profile-linktomore">
		<a href="/wow/en/character/aerie-peak/Doraie/feed" rel="np">View earlier activity</a>
	</div>

	<span class="clear"><!-- --></span>
							</div>
						</div>
					</div>

					<div class="summary-bottom-left">
						<div class="summary-battlegrounds">
	
	<a href="/wow/en/character/aerie-peak/Doraie/pvp" class="link">Player vs. Player</a>
	<ul>
		<li class="rating">
			<span class="value">0</span>
			<span class="name">Battleground rating</span>
		</li>
		<li class="kills">
			<span class="value">3188</span>
			<span class="name">Honorable kills</span>
		</li>
	</ul>
						</div>

						<div class="summary-professions">
	<h3 class="category ">								<a href="/wow/en/character/aerie-peak/Doraie/profession/" class="view-more">Professions</a>
</h3>
	<ul>
				<li>

	    
	

	<div class="profile-progress border-3 completed" >
		<div class="bar border-3 hover" style="width: 100%"></div>
			<div class="bar-contents">						<a class="profession-details" href="/wow/en/character/aerie-peak/Doraie/profession/enchanting">
							<span class="icon">




		<span class="icon-frame frame-12 ">
			<img src="http://media.blizzard.com/wow/icons/18/trade_engraving.jpg" alt="" width="12" height="12" />
		</span>
</span>
							<span class="name">Enchanting</span>
							<span class="value">602</span>
						</a>
</div>
	</div>
				</li>
				<li>

	    
	

	<div class="profile-progress border-3 completed" >
		<div class="bar border-3 hover" style="width: 100%"></div>
			<div class="bar-contents">						<a class="profession-details" href="/wow/en/character/aerie-peak/Doraie/profession/jewelcrafting">
							<span class="icon">




		<span class="icon-frame frame-12 ">
			<img src="http://media.blizzard.com/wow/icons/18/inv_misc_gem_01.jpg" alt="" width="12" height="12" />
		</span>
</span>
							<span class="name">Jewelcrafting</span>
							<span class="value">615</span>
						</a>
</div>
	</div>
				</li>
	</ul>
						</div>
						
						<div class="summary-pets">
	<h3 class="category ">								<a href="/wow/en/character/aerie-peak/Doraie/pet" class="view-more">Pets</a>							
</h3>
	<div id="battle-pet-summary">

				<div class="pet-summary-slot empty " data-tooltip="Empty" data-tooltip-options='{"location": "mouse"}'>
					<div class="character"></div>
				</div>

				<div class="pet-summary-slot empty " data-tooltip="Empty" data-tooltip-options='{"location": "mouse"}'>
					<div class="character"></div>
				</div>

				<div class="pet-summary-slot empty end" data-tooltip="Empty" data-tooltip-options='{"location": "mouse"}'>
					<div class="character"></div>
				</div>
	<span class="clear"><!-- --></span>
	</div>
						</div>

							<div class="summary-challenge-mode">

	<a href="/wow/en/character/aerie-peak/Doraie/challenge" class="link">Challenge Mode</a>

	<div id="challenge-mode-medals">
		<div class="medal gold">0</div>
		<div class="medal silver">0</div>
		<div class="medal bronze">0</div>
	</div>

							</div>

	<span class="clear"><!-- --></span>
					</div>
				</div>

	<span class="clear"><!-- --></span>

					<div id="summary-raid" class="summary-raid">
						<h3 class="category">Raid Progression</h3>
						<div class="profile-box-full">


	<div class="summary-raid-wrapper">

		<div class="summary-raid-wrapper-left">

			<a id="summary-raid-arrow-left" class="arrow-left" href="javascript:;"></a>
			<a id="summary-raid-arrow-right" class="arrow-right" href="javascript:;"></a>

				<div class="lfr"><span>LFR</span></div>
			<div class="normal"><span>Normal</span></div>
			<div class="heroic"><span>Heroic</span></div>
			<div class="mythic"><span>Mythic</span></div>

		</div>

		<div id="summary-raid-wrapper-table" class="summary-raid-wrapper-table">

			<table cellspacing="0">
	<thead>
		<tr>
			<th class="spacer-left"><div></div></th>
				<th class="trivial" colspan="59">
					<div class="name-anchor">
						<div class="name" id="summary-raid-head-trivial">Trivial</div>
					</div>
					<div class="marker"></div>
				</th>
				<th></th>
				<th class="optimal" colspan="3">
					<div class="name-anchor">
						<div class="name">Optimal</div>
					</div>
					<div class="marker"></div>
				</th>
				<th></th>
				<th class="challenging" colspan="3">
					<div class="name-anchor">
						<div class="name">Challenging</div>
					</div>
					<div class="marker"></div>
				</th>
		</tr>
	</thead>
	<tbody>
		<tr class="icons">
			<td></td>
				<td class="mc expansion-0" data-raid="mc">
					<div class="icon">
							<a href="/wow/en/zone/molten-core/" data-zone="2717">MC</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="bwl expansion-0" data-raid="bwl">
					<div class="icon">
							<a href="/wow/en/zone/blackwing-lair/" data-zone="2677">BWL</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="aq10 expansion-0" data-raid="aq10">
					<div class="icon">
							<a href="/wow/en/zone/ruins-of-ahnqiraj/" data-zone="3429">AQ10</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="aq40 expansion-0" data-raid="aq40">
					<div class="icon">
							<a href="/wow/en/zone/ahnqiraj-temple/" data-zone="3428">AQ40</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="kar expansion-1" data-raid="kar">
					<div class="icon">
							<a href="/wow/en/zone/karazhan/" data-zone="3457">Kar</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="mag expansion-1" data-raid="mag">
					<div class="icon">
							<a href="/wow/en/zone/magtheridons-lair/" data-zone="3836">Mag</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="gru expansion-1" data-raid="gru">
					<div class="icon">
							<a href="/wow/en/zone/gruuls-lair/" data-zone="3923">Gru</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="ssc expansion-1" data-raid="ssc">
					<div class="icon">
							<a href="/wow/en/zone/serpentshrine-cavern/" data-zone="3607">SSC</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="tk expansion-1" data-raid="tk">
					<div class="icon">
							<a href="/wow/en/zone/tempest-keep/" data-zone="3845">TK</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="mh expansion-1" data-raid="mh">
					<div class="icon">
							<a href="/wow/en/zone/the-battle-for-mount-hyjal/" data-zone="3606">MH</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="bt expansion-1" data-raid="bt">
					<div class="icon">
							<a href="/wow/en/zone/black-temple/" data-zone="3959">BT</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="sp expansion-1" data-raid="sp">
					<div class="icon">
							<a href="/wow/en/zone/the-sunwell/" data-zone="4075">SP</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="voa expansion-2" data-raid="voa">
					<div class="icon">
							<a href="/wow/en/zone/vault-of-archavon/" data-zone="4603">VoA</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="nax expansion-2" data-raid="nax">
					<div class="icon">
							<a href="/wow/en/zone/naxxramas/" data-zone="3456">Nax</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="os expansion-2" data-raid="os">
					<div class="icon">
							<a href="/wow/en/zone/the-obsidian-sanctum/" data-zone="4493">OS</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="eoe expansion-2" data-raid="eoe">
					<div class="icon">
							<a href="/wow/en/zone/the-eye-of-eternity/" data-zone="4500">EoE</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="uld expansion-2" data-raid="uld">
					<div class="icon">
							<a href="/wow/en/zone/ulduar/" data-zone="4273">Uld</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="ony expansion-0" data-raid="ony">
					<div class="icon">
							<a href="/wow/en/zone/onyxias-lair/" data-zone="2159">Ony</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="toc expansion-2" data-raid="toc">
					<div class="icon">
							<a href="/wow/en/zone/trial-of-the-crusader/" data-zone="4722">ToC</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="icc expansion-2" data-raid="icc">
					<div class="icon">
							<a href="/wow/en/zone/icecrown-citadel/" data-zone="4812">ICC</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="rs expansion-2" data-raid="rs">
					<div class="icon">
							<a href="/wow/en/zone/the-ruby-sanctum/" data-zone="4987">RS</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="bh expansion-3" data-raid="bh">
					<div class="icon">
							<a href="/wow/en/zone/baradin-hold/" data-zone="5600">BH</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="bd expansion-3" data-raid="bd">
					<div class="icon">
							<a href="/wow/en/zone/blackwing-descent/" data-zone="5094">BD</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="bot expansion-3" data-raid="bot">
					<div class="icon">
							<a href="/wow/en/zone/the-bastion-of-twilight/" data-zone="5334">BoT</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="tfw expansion-3" data-raid="tfw">
					<div class="icon">
							<a href="/wow/en/zone/throne-of-the-four-winds/" data-zone="5638">TFW</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="fl expansion-3" data-raid="fl">
					<div class="icon">
							<a href="/wow/en/zone/firelands/" data-zone="5723">FL</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="ds expansion-3" data-raid="ds">
					<div class="icon">
							<a href="/wow/en/zone/dragon-soul/" data-zone="5892">DS</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="mv expansion-4" data-raid="mv">
					<div class="icon">
							<a href="/wow/en/zone/mogushan-vaults/" data-zone="6125">MV</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="hf expansion-4" data-raid="hf">
					<div class="icon">
							<a href="/wow/en/zone/heart-of-fear/" data-zone="6297">HoF</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="tes expansion-4" data-raid="tes">
					<div class="icon">
							<a href="/wow/en/zone/terrace-of-endless-spring/" data-zone="6067">TES</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="tot expansion-4" data-raid="tot">
					<div class="icon">
							<a href="/wow/en/zone/throne-of-thunder/" data-zone="6622">ToT</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="soo expansion-4" data-raid="soo">
					<div class="icon">
							<a href="/wow/en/zone/siege-of-orgrimmar/" data-zone="6738">SoO</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="hm expansion-5" data-raid="hm">
					<div class="icon">
							<a href="/wow/en/zone/highmaul/" data-zone="6996">HM</a>
					</div>
				</td>
					<td class="spacer"><div></div></td>
				<td class="brf expansion-5" data-raid="brf">
					<div class="icon">
							<a href="/wow/en/zone/blackrock-foundry/" data-zone="6967">BRF</a>
					</div>
				</td>
			<td class="spacer-edge"><div></div></td>
		</tr>
			<tr class="lfr">
				<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
	<td data-raid="ds" class="status status-incomplete"><div></div></td>
						<td></td>
	<td data-raid="mv" class="status status-incomplete"><div></div></td>
						<td></td>
	<td data-raid="hf" class="status status-incomplete"><div></div></td>
						<td></td>
	<td data-raid="tes" class="status status-incomplete"><div></div></td>
						<td></td>
	<td data-raid="tot" class="status status-incomplete"><div></div></td>
						<td></td>
	<td data-raid="soo" class="status status-incomplete"><div></div></td>
						<td></td>
	<td data-raid="hm" class="status status-incomplete"><div></div></td>
						<td></td>
	<td data-raid="brf" class="status status-incomplete"><div></div></td>
			</tr>
		<tr class="normal">
			<td></td>
	<td data-raid="mc" class="status status-completed"><div></div></td>
					<td></td>
	<td data-raid="bwl" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="aq10" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="aq40" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="kar" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="mag" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="gru" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="ssc" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="tk" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="mh" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="bt" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="sp" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="voa" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="nax" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="os" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="eoe" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="uld" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="ony" class="status status-completed"><div></div></td>
					<td></td>
	<td data-raid="toc" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="icc" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="rs" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="bh" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="bd" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="bot" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="tfw" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="fl" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="ds" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="mv" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="hf" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="tes" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="tot" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="soo" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="hm" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="brf" class="status status-incomplete"><div></div></td>
		</tr>
		<tr class="heroic">
			<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
	<td data-raid="toc" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="icc" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="rs" class="status status-incomplete"><div></div></td>
					<td></td>
					<td></td>
					<td></td>
	<td data-raid="bd" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="bot" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="tfw" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="fl" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="ds" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="mv" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="hf" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="tes" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="tot" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="soo" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="hm" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="brf" class="status status-incomplete"><div></div></td>
		</tr>
		<tr class="mythic">
			<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
	<td data-raid="soo" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="hm" class="status status-incomplete"><div></div></td>
					<td></td>
	<td data-raid="brf" class="status status-incomplete"><div></div></td>
		</tr>
	</tbody>
			</table>

		</div>

	<span class="clear"><!-- --></span>
	</div>

	<div class="summary-raid-legend">
		<span class="completed">Completed</span>
		<span class="in-progress">In progress</span>
	</div>
						</div>
					</div>

	<span class="clear"><!-- --></span>

				<div class="summary-lastupdate">
					Last updated on 05/10/2015
				</div>

			</div>


		</div>

	<span class="clear"><!-- --></span>
	</div>


</div>
</div>
</div>
<div id="footer">
<div id="sitemap">
<div class="column">
<h3 class="bnet">
<a href="http://us.battle.net/" tabindex="100" data-action="Battle.net Home - Battle.net Home">Battle.net Home</a>
</h3>
<ul>
<li><a href="http://us.battle.net/what-is/" data-action="Battle.net Home - What is Battle.net®?">What is Battle.net®?</a></li>
<li><a href="https://us.battle.net/shop/" data-action="Battle.net Home - Shop">Shop</a></li>
<li><a href="https://us.battle.net/account/management/" data-action="Battle.net Home - Account">Account</a></li>
<li><a href="http://us.battle.net/support/" data-action="Battle.net Home - Support">Support</a></li>
<li><a href="http://us.battle.net/realid/" data-action="Battle.net Home - Real ID">Real ID</a></li>
<li><a href="http://us.battle.net/battletag/" data-action="Battle.net Home - BattleTag®">BattleTag®</a></li>
</ul>
</div>
<div class="column">
<h3 class="games">
<a href="http://us.battle.net/" tabindex="100" data-action="Games - Games">Games</a>
</h3>
<ul>
<li><a href="http://us.battle.net/sc2/" data-action="Games - StarCraft® II">StarCraft® II</a></li>
<li><a href="http://us.battle.net/wow/" data-action="Games - World of Warcraft®">World of Warcraft®</a></li>
<li><a href="http://us.battle.net/d3/" data-action="Games - Diablo® III">Diablo® III</a></li>
<li><a href="http://us.battle.net/hearthstone/" data-action="Games - Hearthstone®">Hearthstone®</a></li>
<li><a href="http://us.battle.net/games/classic" data-action="Games - Classic Games">Classic Games</a></li>
<li><a href="https://us.battle.net/account/download/" data-action="Games - Game Client Downloads">Game Client Downloads</a></li>
</ul>
</div>
<div class="column">
<h3 class="account">
<a href="https://us.battle.net/account/management/" tabindex="100">Account</a>
</h3>
<ul>
<li><a href="https://us.battle.net/account/support/login-support.html" data-action="Account - Can’t log in?">Can’t log in?</a></li>
<li><a href="https://us.battle.net/account/creation/tos.html" data-action="Account - Create Account">Create Account</a></li>
<li><a href="https://us.battle.net/account/management/" data-action="Account - Account Summary">Account Summary</a></li>
<li><a href="http://us.battle.net/security" data-action="Account - Account Security">Account Security</a></li>
<li><a href="https://us.battle.net/account/management/claim-code.html" data-action="Account - Redeem Codes">Redeem Codes</a></li>
</ul>
</div>
<div class="column">
<h3 class="support">
<a href="http://us.battle.net/support/" tabindex="100" data-action="Support - Support">Support</a>
</h3>
<ul>
<li><a href="http://us.battle.net/support/" data-action="Support - Support Articles">Support Articles</a></li>
<li><a href="https://us.battle.net/account/parental-controls/index.html" data-action="Support - Parental Controls">Parental Controls</a></li>
<li><a href="http://us.battle.net/security/" data-action="Support - Protect Your Account">Protect Your Account</a></li>
<li><a href="http://us.battle.net/security/help" data-action="Support - Help! I got hacked!">Help! I got hacked!</a></li>
</ul>
</div>
<div class="column">
<h3 class="jobs">
<a href="http://jobs.blizzard.com/?utm_campaign=Blizzard_Jobs&amp;utm_source=Battle_net&amp;utm_medium=Footer">Work At Blizzard</a>
</h3>
<ul>
<li><a href="http://blizzard.com/company/careers/directory.html" data-action="Jobs - Search for Jobs">Search for Jobs</a></li>
<li><a href="https://blizzard.taleo.net/careersection/2/profile.ftl" data-action="Jobs - Candidate Profile">Candidate Profile</a></li>
<li><a href="http://blizzard.com/company/careers/university.html" data-action="Jobs - University Relations">University Relations</a></li>
<li><a href="http://blizzard.com/company/careers/form/support.html" data-action="Jobs - Job Site Support">Job Site Support</a></li>
<li><a href="http://blizzard.com/company/careers/faq.html" data-action="Jobs - Jobs FAQ">Jobs FAQ</a></li>
</ul>
</div>
<span class="clear"><!-- --></span>
</div>
<div class="lower-footer-wrapper">
<div class="lower-footer">
<div id="copyright">
<a href="javascript:;" tabindex="100" id="change-language">
<span>Americas - English (US)</span>
</a>
<span>©2015 Blizzard Entertainment, Inc. All rights reserved</span>
<a onclick="return Core.open(this);" href="http://us.blizzard.com/company/about/termsofuse.html" tabindex="100" data-action="Footer - Terms of Use">Terms of Use</a>
<a onclick="return Core.open(this);" href="http://us.blizzard.com/company/legal/" tabindex="100" data-action="Footer - Legal">Legal</a>
<a onclick="return Core.open(this);" href="http://us.blizzard.com/company/about/privacy.html" tabindex="100" data-action="Footer - Privacy Policy">Privacy Policy</a>
<a onclick="return Core.open(this);" href="http://us.blizzard.com/company/about/infringementnotice.html" tabindex="100" data-action="Footer - Copyright Infringement">Copyright Infringement</a>
</div>
<div id="international"></div>
<div id="legal">
<div id="legal-ratings" class="png-fix">
<div class="product-rating esrb-rating clearfix">
<a href="http://www.esrb.org/ratings/ratings_guide.jsp" tabindex="1" rel="external" target="_blank">
<img class="esrb-logo" src="/wow/static/images/legal/ratings/esrb/en/t.png?v=58-77"
alt="ESRB Content Rating: T (Teen)" title=""
width="65" height="97" />
</a>
<span class="esrb-descriptor"><span class="esrb-descriptor-label" title="Depictions of blood or the mutilation of body parts.">Blood and Gore</span></span>
<span class="esrb-descriptor"><span class="esrb-descriptor-label" title="Depictions or dialogue involving vulgar antics, including “bathroom” humor.">Crude Humor</span></span>
<span class="esrb-descriptor"><span class="esrb-descriptor-label" title="Mild to moderate use of profanity.">Mild Language</span></span>
<span class="esrb-descriptor"><span class="esrb-descriptor-label" title="Mild provocative references or materials.">Suggestive Themes</span></span>
<span class="esrb-descriptor"><span class="esrb-descriptor-label" title="The consumption of alcoholic beverages.">Use of Alcohol</span></span>
<span class="esrb-descriptor"><span class="esrb-descriptor-label" title="Scenes involving aggressive conflict. May contain bloodless dismemberment.">Violence</span></span>
<span class="esrb-disclaimer">Online Interactions Not Rated by the ESRB</span>
</div>
</div>
<div id="blizzard" class="png-fix">
<a href="http://us.blizzard.com/" tabindex="100"><img src="/wow/static/images/logos/blizzard.png?v=58-77" alt="" /></a>
</div>
<div class="common-feedback-buttons" style="display: none;">
<a id="open-feedback-form" href="javascript:void(0);" class="feedback feedback-suggestion-open"><span class="feedback-icon"></span>Send Website Feedback</a>
<a id="open-error-form" href="javascript:void(0);" class="error feedback-error-open"><span class="feedback-icon"></span>Report Website Error</a>
</div>
<span class="clear"><!-- --></span>
</div>
</div>
<div id="marketing-trackers">
<div class="marketing-cover"></div>
</div>
</div>
</div>
</div>
</body>
</html>